@inject HttpClient Http
@inject NavigationManager NavigationManager

@using DogsZurich.Shared

@page "/"


<PageTitle>DogsofZurich</PageTitle>

<h1>Hunde der Stadt Zürich</h1>

@if (dogs == null)
{
        <p>Laden...</p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Rassentype</th>
                    <th>Reinrassig <p>oder Mischling</p></th>
                    <th>Rasse 1</th>
                    <th>Rasse 2</th>
                    <th>Geschlecht</th>
                    <th>Fellfarbe</th
                    <th>Besitzer Id</th>
                    <th></th>
                <th></th>

                </tr>
            </thead>
            <tbody>
            @if (dogs.Count() == 0)
            {
                        <tr>
                            <td colspan="3">There are no Dogs yet.</td>
                        </tr>
            }
            else
            {
                @foreach (var item in dogs)
                {
                                <tr>
                                    <td>@item.Breedtype.Description</td>
                                    <td>@item.Breedstatus.Description</td>
                                    <td>@item.Breed1.Description</td>
                                    @if ( @item.Breed2 == null){
                                        <td> - </td>
                                    }else {
                                    <td>@item.Breed2.Description</td>}
                                    <td>@item.Sex.Description</td
                                    <td>@item.Colors.Description</td>
                                    <td>@item.Dogowner.Id</td>

                        <td><button class="btn btn-warning" @onclick="(() =>NavigateToEditDeleteComponent(item.Id))">Delete</button></td>
                                </tr>
                }
            }
                <tr>
                    <td><button class="btn btn-info" @onclick="(() =>NavigateToOwnerView())">Owner View</button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-info" @onclick="(() =>NavigateToCreateComponent())">Add Dog</button></td>
                </tr>

            </tbody>
        </table>
}


@code {

    private List<Dog> dogs ;
    private const string ServiceEndpoint = "/api";

    protected override async Task OnInitializedAsync() => await GetServerData();
    private async Task GetServerData()
    {
        dogs = await Http.GetFromJsonAsync<List<Dog>>($"{ServiceEndpoint}/Dogs");
    }
    private void NavigateToEditDeleteComponent(long id)
    {
        NavigationManager.NavigateTo($"/Dogs/editDelete/{id}");
    }
    private void NavigateToCreateComponent()
    {
        NavigationManager.NavigateTo($"/Dogs/add");
    }
    private void NavigateToOwnerView()
    {
        NavigationManager.NavigateTo($"/Dogowners/view");
    }


}