@inject HttpClient Http
@inject NavigationManager NavigationManager

@using DogsZurich.Shared

@page "/"


<PageTitle>DogsofZurich</PageTitle>

<h1>Hunde der Stadt Zürich</h1>

@if (dogs == null)
{
        <p>Laden...</p>
}
else
{
        <table class="table">
            <thead>
                <tr>
                    <th>Breedtype</th>
                    <th>BreedStatus</th>
                    <th>Breed 1</th>
                    <th>Breed 2</th>
                    <th>Sex of Dog</th>
                    <th>Color</th
                    <th>Owner Id</th>
                <th></th>

                </tr>
            </thead>
            <tbody>
            @if (dogs.Count() == 0)
            {
                        <tr>
                            <td colspan="3">There are no Dogs yet.</td>
                        </tr>
            }
            else
            {
                @foreach (var item in dogs)
                {
                                <tr>
                                    <td>@item.Breedtype</td>
                                    <td>@item.Breedstatus</td>
                                    <td>@item.Breed1</td>
                                    <td>@item.Breed2</td>
                                    <td>@item.Sex</td
                                    <td>@item.Colors</td
                                    <td>@item.Dogowner.Id</td>

                        <td><button class="btn btn-warning" @onclick="(() =>NavigateToEditDeleteComponent(item.Id))">Edit / Delete</button></td>
                                </tr>
                }
            }
                <tr>
                    <td><button class="btn btn-info" @onclick="(() =>NavigateToShipClassView())">Ship Class View</button></td>
                    <td><button class="btn btn-info" @onclick="(() =>NavigateToSpeciesView())">Species View</button></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button class="btn btn-info" @onclick="(() =>NavigateToCreateComponent())">Create Starship</button></td>
                </tr>

            </tbody>
        </table>
}


@code {

    private List<Dog> dogs = null;
    private const string ServiceEndpoint = "/api";
    protected override async Task OnInitializedAsync() => await GetStarshipStatusesPriorities();
    private async Task GetStarshipStatusesPriorities()
    {
        dogs = await Http.GetFromJsonAsync<List<Dog>>($"{ServiceEndpoint}/Dog");
    }
    private void NavigateToEditDeleteComponent(long id)
    {
        NavigationManager.NavigateTo($"/Dog/editDelete/{id}");
    }
    private void NavigateToCreateComponent()
    {
        NavigationManager.NavigateTo($"/Dog/create");
    }
    private void NavigateToSpeciesView()
    {
        NavigationManager.NavigateTo($"/Dog/view");
    }
    private void NavigateToShipClassView()
    {
        NavigationManager.NavigateTo($"/Dog/view");
    }

}