@inject HttpClient Http
@inject NavigationManager NavigationManager

@using DogsZurich.Shared

@page "/dogowners/view"


<PageTitle>DogsofZurich</PageTitle>

<h1>Hunde der Stadt Zürich</h1>

@if (owners == null)
{
            <p>Laden...</p>
}
else
{
            <table class="table">
                <thead>
                    <tr>
                        <th>Owner Id</th>
                        <th>Altersklasse</th>
                        <th>Geschlecht</th>
                        <th>Kreis</th>
                        <th>Quartier</th>
                        <th>Anzahl Hunde</th>
                        <th></th>                  
                    </tr>
                </thead>
                <tbody>
            @if (owners.Count() == 0)
            {
                                <tr>
                                    <td colspan="3">There are no Dogs yet.</td>
                                </tr>
            }
            else
            {
              

                @foreach (var item in owners)
                {
                                            <tr>
                                                <td>@item.Id</td>
                                                <td>@item.Ageclass.Description</td>
                                                <td>@item.Sex.Description</td>
                                                <td>@item.Kreis.Description</td>
                                                <td>@item.Quartier.Description</td>
                                                @*<td>@GetNumberOfDogs(item.Id)</td>*@

                                    <td><button class="btn btn-warning" @onclick="(() =>NavigateToEditDeleteComponent(item.Id))">Edit / Delete</button></td>
                                            </tr>
                }
            }
                    <tr>
                        <td><button class="btn btn-info" @onclick="(() =>NavigateToOwnerView())">Hundeübersicht</button></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><button class="btn btn-info" @onclick="(() =>NavigateToCreateComponent())">Neuen Besitzer</button></td>
                    </tr>

                </tbody>
            </table>
}


@code {

    private List<Dogowner> owners;
    private const string ServiceEndpoint = "/api";
    private string selectedKreis = "";
    private string selectedQuartier = "";

    private List<Kreis> kreis;
    private List<Quartier> quartier;

    //protected override async Task OnInitializedAsync()
    //{
    //    await GetServerData();
    //    kreis = await Http.GetFromJsonAsync<List<Kreis>>($"{ServiceEndpoint}/Kreis");
    //    quartier = await Http.GetFromJsonAsync<List<Quartier>>($"{ServiceEndpoint}/Quartier");
    //}



    protected override async Task OnInitializedAsync() => await GetServerData();
    private async Task GetServerData()
    {
        owners = await Http.GetFromJsonAsync<List<Dogowner>>($"{ServiceEndpoint}/dogowners");

    }
    private void NavigateToEditDeleteComponent(long id)
    {
        NavigationManager.NavigateTo($"/Dogowners/Delete/{id}");
    }
    private void NavigateToCreateComponent()
    {
        NavigationManager.NavigateTo($"/Dogowner/add");
    }
    private void NavigateToOwnerView()
    {
        NavigationManager.NavigateTo($"/dogowners/view");
    }

    private async Task<int> GetNumberOfDogs(int ownerId)
    {
        var dogs = await Http.GetFromJsonAsync<List<Dog>>($"{ServiceEndpoint}/dogs");
        return dogs.Where(d => d.DogownerId == ownerId).Count();
    }
}